*{
    margin:0%;
    padding: 0%;
}

.navbar-brand{
    font-style: italic;
    font-size: 2rem;
    position: relative;
    left: 2rem;
}

.logo-img {
    width: auto; /* Adjust the width as per your requirement */
    height: 22rem; /* Adjust the height as per your requirement */
    // border-radius: 50%; /* Make the image round by setting the border-radius to 50% */
    object-fit: cover; /* Maintain the aspect ratio of the image */
    position: relative;
    right: 1rem;
    bottom: 7rem;
  }
  
  .form-control{
    width: 30rem;
    position: relative;
    left: 5rem;
    bottom: 8rem;
padding-right: 2rem;
  }
 .navbar-nav{
    position: relative;
    left: 10rem;
    bottom: 8rem;
  }

  .dropdown-item{
    background-color:#f1f1f1;
  }

  .dropdown-menu{
    border-radius: 0%;
  }