.img-fluid {
    height: 90vh;
    width: 60vw;
}

.diary-log {
    font-size: 2rem;
    font-style: italic;
    position: relative;
    left: 5rem;
}

.fw-normal{
    position: relative;
    left: 6rem;
}

.password-container{
    position: relative;
   left: 13rem;
}

